<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/myapp/create/"><button>+ Create</button></a>
    {% for todo in todos %}
    <div style="border:1.5px  #000 solid;width: 30rem;">
        <h2>{{todo.name}}</h2>
        <p>{{todo.description}}</p>
        <a href="/myapp/delete/{{todo.id}}"><button>Delete</button></a>
        <a href="/myapp/details/{{todo.id}}"><button>Details</button></a>
        
    </div>

    {% endfor %}
    
</body>
</html>